<footer>
    <div class="Container-form">
        <form action="" method="post" id="FormUpdate">
            <h1 class="TitleForm">Receba atualizações:</h1>
            <label for="email" class="LabelFooter">email</label>
            <input type="email" name="email" class="InputFooter" placeholder="*">
            <button type="submit" class="SubmitFooter">PARTICIPAR</button>
        </form>
    </div>
    <div class="ContainerRedirect">
        <a href="#" class="NoSelected">Sobre</a>
        <a href="#" class="NoSelected">Notícias</a>
    </div>
    <div id="container-direitos">
        <p id="Direitos">© 2024 Albert Lima.    todos os direitos reservados. </p>
    </div>
</footer>