<nav class="BarNav">
    <div class="NavPage">
        <a href="/" class="NoSelected">Página inicial</a>
        <a href="/admin/postagens" class="NoSelected">Notícias</a>
        <a href="" class="NoSelected">Calculadora</a>
        <a href="/admin/categorias" class="NoSelected">Categorias</a>
    </div>
    <div class="NavSocial">
        <a href="#" class="iconSocial"><img src="/css/img/btt-instagram.png" alt=""></a>
        <a href="#" class="iconSocial"><img src="/css/img/icon_facebook.png" alt=""></a>
        <a href="#" class="iconSocial"><img src="/css/img/twitter.png" alt=""></a>
    </div>
</nav>
{{>_msg}}