{{>_navbarglobal}}
{{#each erros}}
    <div class="ErrorMSG">
        {{texto}}
    </div>
{{else}}
{{/each}}
{{>_msg}}

<section class="Container-form" style="margin-top: 100px;">
    <h3>crie sua conta:</h3>
    <form action="" method="post" class="formCategoria">
        <label for="nome">nome</label>
        <input type="text" name="nome">

        <label for="email">email</label>
        <input type="email" name="email">

        <label for="senha">senha</label>
        <input type="password" name="senha">

        <label for="repita">repita sua senha</label>
        <input type="password" name="senha2">

        <button type="submit">criar</button>
    </form>
</section>
<script src=""></script>