<nav class="BarNav">
    <div class="NavPage">
        <a href="/" class="NoSelected">Página inicial</a>
        <a href="" class="NoSelected">Calculadora</a>
    </div>
    <div class="NavSocial">
        <a href="#" class="iconSocial"><img src="/css/img/btt-instagram.png" alt=""></a>
        <a href="#" class="iconSocial"><img src="/css/img/icon_facebook.png" alt=""></a>
        <a href="#" class="iconSocial"><img src="/css/img/twitter.png" alt=""></a>
    </div>
</nav>
{{>_msg}}
{{#each erros}}
    <div class="ErrorMSG">
        {{texto}}
    </div>
{{else}}
{{/each}}

<section class="Container-form">
    <h3>crie sua conta:</h3>
    <form action="" method="post" class="formCategoria">
        <label for="nome">nome</label>
        <input type="text" name="nome">

        <label for="email">email</label>
        <input type="email" name="email">

        <label for="senha">senha</label>
        <input type="password" name="senha">

        <label for="repita">repita sua senha</label>
        <input type="password" name="senha2">

        <button type="submit">criar</button>
    </form>
</section>